<%= form_for @post, url: post_path(@post), html: { method: :patch } do |f| %>
  <h1>おすすめ芸人</h1>
  <p>タイトル<%= f.text_field :title %></p>
  <p>内容<%= f.text_area :content %></p>
  <p>画像:<%= f.file_field :image %></p>
  <input type="submit" value="更新">
<% end %>
