<h3>芸人一覧</h3>

<div class="container">

  <div class="row">
    <% if user_signed_in? %>
      <% @posts.each do |post| %>
        <div class="col-xs-6 col-lg-4">
          <p>
            <%= post.title %>
            <%= image_tag post.image_url(:thumb) %>
            <%= post.content %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p>ログインしてください</p>
    <% end %>
  </div>
</div>
