<div class="container">
<div class="row">


    <% if user_signed_in? %>
       <% @posts.each do |post| %>


    <div class="mr-5 mx-auto mt-5 text-center">

      <div class="card img-thumbnail border-secondary">



              <img class="card-img-top">
                <%= link_to post_path(post) do %>
                <%= image_tag post.image_url(:thumb)%>
              <% end %>
            </img>


            <div class="card-body  ">

              <h5 class="card-title ">
                <strong>
                  <%= post.title %>
                </strong>

              </h5>

              <div class="card-text  ">
                <p><%= post.content %></p>
              </div>

            </div>

          </div>
        </div>
      <% end %>
    <% else %>
      <p>ログインしてください</p>
    <% end %>


  </div>
</div>
</div>
