<h1>おすすめ芸人一覧</h1>
<% if user_signed_in? %>
  <% @posts.each do |post| %>
    <p>
      <%= post.title %>
      ：<%= post.content %>
      ：<%= image_tag post.image_url(:thumb) %>
    </p>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
