<div class="container">


    <div class="row">

      <% @posts.each do |post| %>

        <div class="mx-auto mt-5 text-center">
          <div class="card img-thumbnail border-secondary">

             <img class="card-img-top">
              <%= link_to post_path(post) do %>
              <%= image_tag post.image_url(:thumb)%>
            <% end %>
          </img>

          <div class="card-body ">

            <h5 class="card-title">
              <strong>
                <%= post.title %>
              </strong>

            </h5>

            <div class="card-text  ">
              <p>
                <%= post.content %>

              </p>

            </div>

          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>
</div>
